/*----------------HEADER---------------------
.menu{
	background-color: #FFFFFF;
}
header nav .portafolio{
	color: #F05F40;
}
.list{
	color: #000000;
}*/
.hola{
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15% 10%;
}
.menu{
	background-color: white;
}
.navbar .navbar-nav .nav-item .list{
	color: gray;
}
.navbar .portafolio{
	color: gray;
}
.conoce{
 background-color: #F05F40;
 border-radius: 70px;
 color: white;
}